{% extends "base.html" %}
{% load addcss %}
{% block content %}

  <div class="row">
    <div class = "control-label col-md-3">
      <h1> {% if course.id %}Change {% else %}Add {% endif %}Course </h1>
    </div>
  </div>

  <form {% if course.id %} action="{% url 'courses:save' course.id%}"  {% else %}
        action="{% url 'courses:save'%}"{% endif %}
        method="POST" enctype=multipart/form-data class="form-horizontal">
    {% csrf_token %}
    {% if form.non_field_errors %}
      <ul>
        {% for error in form.non_field_errors %}
          <li>{{ error }}</li>
        {% endfor %}
      </ul>
    {% endif %}

    <div id="content-main">
      <div class="_module _aligned" style="background:transparent">

        {% for field in form %}
        <div id="{{ field.auto_id }}_container">

          <div class="row">
            <div class="form-group">
              <div class = "control-label col-md-2">
                {{ field.label_tag }}
              </div>
              <div class = "controls col-md-10">
                {% if field.label == "Course art" %}
                  {{ field }}
                {% else %}
                  {{ field|addclass:"form-control" }}
                {% endif %}
                <span class="help-block">{{ field.help_text }}</span>
              </div>
            </div>
          </div>
          <div id="{{ field.auto_id }}_errors">
            {{ field.errors }}
          </div>
        </div>
        {% endfor %}
      </div>
    </div>
    <div class="pull-right">
      <input id="save_course" type="submit" value="Save" class="btn btn-primary default" />
      {% if course.id %}<a href="{% url 'courses:details' course.id %}" class="btn btn-primary default">View</a>
      {% else %}
      or <a href="{% url 'courses:index'%}" class="btn default">cancel</a>
      {% endif %}
    </div>

  </form>

{% endblock %}




