{% extends "base.html" %}

{% block content %}


<div class="page-header">
  <h1>Django Course Catalog </h1>
    <h4>Please select from our awesome courses!</h4>
</div>



{% if course_list %}
<div class="results">
    <table class="table table-striped">
        <thead>
            <th>#</th>
            <th>Course Title</th>
            <th>Instructor</th>
            <th>Duration</th>
        </thead>
        {% for course in course_list %}
            <tr>
                <td>{{ course.id }}</td>
                <td><a href="{% url 'courses:details' course.id %}">{{ course.title }}</a></td>
                <td>{{ course.instructor }}</td>
                <td>{{ course.duration }}</td>
            </tr>
        {% endfor %}
    <table>
</div>
{% else %}
    <p>No courses are available.</p>
{% endif %}
{% endblock %}